<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">AvantGarde</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Visualization options <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <%= link_to "Address visualize", address_avant_data_path %>
            </li>
            <li>
              <%= link_to "Race, ethnicity circle packing graph", circle_packing_avant_data_path %>
            </li>
            <li>
              <%= link_to "Gender sunburst", gender_avant_data_path%>
            </li>

            <li>
              <%= link_to "Race, ethnicity Bar hierarchy graph", bar_hierarchy_avant_data_path%>
            </li>

            <li>
              <%= link_to "Zip code graph", zip_avant_data_path%>
            </li>

            <li>
              <%= link_to "parallel visualize", parallel_avant_data_path%>
            </li>

            <li>
              <%= link_to "Clustering", cluster_avant_data_path%>
            </li>

          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t('user.logout'), logout_path, method: 'delete', :class=>'logout'%></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div>
</nav>