<%= form_tag user_sessions_path, :class=>"form-signin", :method => :post do %>
  <h2 class="form-signin-heading">Please sign in</h2>

    <%= label_tag :username, "Username" %>
    <%= text_field_tag :username, "", :class=>"form-control" %>

    <%= label_tag :password, "Password"%>
    <%= password_field_tag :password, "", :class=>"form-control" %>

  <div class="checkbox">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>

  <div class="actions">
    <%= submit_tag "Login", :class=>"btn btn-lg btn-primary btn-block" %>
  </div>
<% end %>

