<!DOCTYPE html>
<html>
<head>
  <title>Avantgarde</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <%= csrf_meta_tags %>
</head>

<body ng-app="avantGarde">
  <%= render "shared/navbar"%>
  <%= yield %>
  <%= javascript_include_tag 'application' %>
  <script type='text/javascript' src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"> </script>
  <%= javascript_include_tag 'nvd3' %>
  <%= javascript_include_tag 'angular_nvd3' %>
  <%= javascript_include_tag 'circle-packing' %>
  <%= javascript_include_tag 'leaflet' %>
  <%= javascript_include_tag 'leaflet-directive' %>
  <%= javascript_include_tag 'ng-table' %>
  <%= javascript_include_tag 'd3_related' %>
  <%= javascript_include_tag "google_chart" %>
  <%= yield :footer_scripts %>
</body>

</html>
