<!DOCTYPE html>
<html>
<head>
  <title>Avantgarde</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <%= csrf_meta_tags %>
</head>

<body ng-app="avantGarde">
  <%= render "shared/navbar"%>
  <%= yield %>
  <%= javascript_include_tag 'application' if @use_js%>
  <%= javascript_include_tag 'nvd3' if @use_js%>
  <%= javascript_include_tag 'angular-google-map' if @use_js%>
  <%= javascript_include_tag 'circle-packing' if @use_js%>
  <%= javascript_include_tag 'd3_related' if @use_js%>
  <%= yield :footer_scripts %>
</body>

</html>
