<!DOCTYPE html>
<html>
<head>
  <title>Avantgarde</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= csrf_meta_tags %>
</head>

<body ng-app="avantGarde">
  <%= render "shared/navbar"%>
  <%= yield %>
  <%= javascript_include_tag 'application' if @use_js%>
  <%= javascript_include_tag 'nvd3' if @use_js%>
  <%= javascript_include_tag 'd3_related' if @use_js%>
  <%= yield :footer_scripts %>
</body>

</html>
